@{
    ViewBag.Title = "Home Page";
}

<img src="~/Content/images/kucniBudzetLogo.png" class="margin-top-20" />
<div class="row">
    <div class="col-md-6 margin-top-20 ">
        <a href="/Budzet/Create" class="btn btn-primary btn-medium btn-block"><spa class="glyphicon glyphicon-plus"></spa>  Dodaj ulaz/izlaz</a>
        <a href="/Budzet/Index" class="btn btn-primary btn-medium btn-block"><spa class="glyphicon glyphicon-list-alt"></spa>  Prikazi kompletan izvjestaj</a>
        <a href="/Budzet/Ulaz" class="btn btn-primary btn-medium btn-block"><spa class="glyphicon glyphicon-list-alt"></spa>  Prikazi ulaz</a>
        <a href="/Budzet/Izlaz" class="btn btn-primary btn-medium btn-block"><spa class="glyphicon glyphicon-list-alt"></spa>  Prikazi izlaz</a>

    </div>

</div>
